<div class="container">
  <header class="row">
    <!-- Image and text -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand disabled" href="#">Home</a>
        <a [routerLink]="['/product-list']" routerLinkActive="router-link-active" class="navbar-brand active" href="#">Product List</a>
<!--        <a [routerLink]="['/product-detail']" class="navbar-brand" href="#">Product Detail</a>-->
        <a [routerLink]="['/admin']" class="navbar-brand" href="#">Admin</a>
        <a [routerLink]="['/login']" class="navbar-brand" href="#">Login</a>
        <a [routerLink]="['/product-add']" class="navbar-brand" href="#">Add Product</a>
        <a [routerLink]="['/category']" class="navbar-brand" href="#">Category Management</a>
        <a [routerLink]="['/category-list']" class="navbar-brand" href="#">Category List</a>

        <!--        <a routerLink="/product-list" routerLinkActive="router-link-active" class="navbar-brand active" href="#">Product List</a>-->
<!--        <a routerLink="/product-detail" class="navbar-brand" href="#">Product Detail</a>-->
        <!--        <a class="navbar-brand active" href="/product-list">Product List</a>-->
<!--        <a class="navbar-brand" href="/product-detail">Product Detail</a>-->
      </nav>
    </div>
  </header>
  <section class="mt-5">

  <!-- This is the router outlet where the components will be rendered -->
  <router-outlet></router-outlet>
   <!-- This is the shared component that will be used in the app -->
  <app-shared></app-shared>

<!--    <div class="col-12 d-block">-->
<!--      <app-product-list></app-product-list>-->
<!--    </div>-->
<!--    <div class="col mt-5">-->
<!--      <app-product-detail></app-product-detail>-->
<!--    </div>-->
  </section>
</div>
